body {
  background-color: black;
}

.image__story--v1 {
  width: 100vw;
  height: 100vh;
}

.image__story--v2 {
  width: 100vw;
  height: 100vh;
}

.image__story {
  display: none;
}

.text__story {
  color: black;
  font-family: VT323;
  font-size: 10rem;
}

.button__start {
  color: black;
  font-family: VT323;
  font-size: 2rem;
  margin-top: 5%;
  margin-left: 32%;
}

.content__text {
  margin-top: 37vh;
  margin-left: 22vw;
  position: absolute;
}

