body {
  background-color: black;
  color: white;
}

.content {
  display: flex;
}

img {
  margin-top: 12%;
  margin-left: 7%;
  width: 40vw;
}

.text__story {
  font-size: 25px;
  align-self: center;
  margin-left: 30px;
}

.text {
  height: 80vh;
  margin-top: 5%;
  padding: 40px;
  display: flex;
  font-family: VT323;
}

.button {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 30%;
  right: 10%;
  font-size: 25px;
}

.image__story {
  display: none;
}